    <div id="follow-block" class="ui segment">
        
        <h3>Followers</h3>
        
        <ul class="list-unstyled follow-list row">
            <li class="col-md-6">
                <div class="pull-left col-md-9">
                    <img class="circular ui image" src="http://semantic-ui.com/images/demo/item1.jpg">
                <a href="#">Aishath Hazmath</a>
                <p>Works as a Travel Agent</p>
                <p>Lives in Male', Maldives</p>
                </div>
                <div class="mini ui button col-md-3">
                  Follow
                </div>
                <br class="clear">
            </li>
            <li class="col-md-6">
                <div class="pull-left col-md-9">
                    <img class="circular ui image" src="http://semantic-ui.com/images/demo/item1.jpg">
                <a href="#">Aishath Hazmath</a>
                <p>Works as a Travel Agent</p>
                <p>Lives in Male', Maldives</p>
                </div>
                <div class="mini ui button col-md-3">
                  Follow
                </div>
                <br class="clear">
            </li>
            <li class="col-md-6">
                <div class="pull-left col-md-9">
                    <img class="circular ui image" src="http://semantic-ui.com/images/demo/item1.jpg">
                <a href="#">Aishath Hazmath</a>
                <p>Works as a Travel Agent</p>
                <p>Lives in Male', Maldives</p>
                </div>
                <div class="mini ui button col-md-3">
                  Follow
                </div>
                <br class="clear">
            </li>
            <li class="col-md-6">
                <div class="pull-left col-md-9">
                    <img class="circular ui image" src="http://semantic-ui.com/images/demo/item1.jpg">
                <a href="#">Aishath Hazmath</a>
                <p>Works as a Travel Agent</p>
                <p>Lives in Male', Maldives</p>
                </div>
                <div class="mini ui button col-md-3">
                  Follow
                </div>
                <br class="clear">
            </li>
        </ul>
    </div>