
<section id="profile" class="col-md-9">
    
    <div class="ui pointing menu">
        <a class="item" href="#!/profile/activity"> <i class="list layout icon"></i> Activity</a>
        <a class="item" href="#!/profile/about"><i class="info letter icon"></i> About</a>
        <a class="item" href="#!/profile/products/"><i class="cart icon"></i> Products</a>
        <a class="item" href="#!/profile/transactions/"><i class="cart icon"></i> Transactions</a>
        <a class="item" href="#!/profile/following"><i class="user icon"></i> Following</a>
        <a class="item" href="#!/profile/followers"><i class="users icon"></i> Followers</a>
    </div>
    
    <div ui-view class="ui celled list">
    </div>
</section>