<section id="profile" class="col-md-9">
    
    <div class="ui pointing menu">
        <a class="item" href="#!/profile/activity"> <i class="left arrow icon"></i></a>
        <a class="item" href="#!/profile/messages/"> <i class="edit icon"></i> Compose Message</a>
        <a class="item" href="#!/profile/messages/"> <i class="inbox icon"></i> Inbox</a>
        <a class="item" href="#!/profile/messages/">  <i class="forward mail icon"></i> Sent</a>
        <a class="item" href="#!/profile/messages/">  <i class="trash icon"></i> Deleted</a>
        
        <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
    </div>
    
    <div ui-view class="ui celled list">
    </div>
</section>