<div class="row ui segment" id="message-container">
    <div class="row">
        <div class="row col-md-5" id="pm-list">
        <div class="ui selection list" id="pm-list-inner">
          <a class="item active" href="#!/profile/messages/detail">
            <span class="ui red circular label"></span> <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Snickerdoodle</div>
              An excellent companion
            </div>
          </a>
          <a class="item active" href="#!/profile/messages/detail">
            <span class="ui red circular label"></span> <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Poodle </div>
              A poodle, its pretty basic
            </div>
          </a>
          <a class="item" href="#!/profile/messages/detail">
            <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Paulo</div>
              He's also a dog
            </div>
          </a>
            <a class="item" href="#!/profile/messages/detail">
            <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Snickerdoodle</div>
              An excellent companion
            </div>
          </a>
          <a class="item" href="#!/profile/messages/detail">
            <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Poodle</div>
              A poodle, its pretty basic
            </div>
          </a>
          <a class="item" href="#!/profile/messages/detail">
            <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Paulo</div>
              He's also a dog
            </div>
          </a><a class="item" href="#!/profile/messages/detail">
            <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Snickerdoodle</div>
              An excellent companion
            </div>
          </a>
          <a class="item" href="#!/profile/messages/detail">
            <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Poodle</div>
              A poodle, its pretty basic
            </div>
          </a>
          <a class="item" href="#!/profile/messages/detail">
            <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Paulo</div>
              He's also a dog
            </div>
          </a>
            <a class="item" href="#!/profile/messages/detail">
            <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Snickerdoodle</div>
              An excellent companion
            </div>
          </a>
          <a class="item" href="#!/profile/messages/detail">
            <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Poodle</div>
              A poodle, its pretty basic
            </div>
          </a>
          <a class="item" href="#!/profile/messages/detail">
            <img class="ui avatar image" src="http://semantic-ui.com/images/demo/item1.jpg">
            <div class="content">
              <div class="header">Paulo</div>
              He's also a dog
            </div>
          </a>
        </div>
        
    </div>
    
    <div id="message-detail" class="col-md-7" ui-view></div>
    </div>
</div>