<div class="container">
		<div class="row">
			<div id="main-carousel" class="carousel slide">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#main-carousel" data-slide-to="1"></li>
			    <li data-target="#main-carousel" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			      <div class="carousel-hotel first">
			      	<img src="http://www.aspireheavenlyholidays.net/sites/default/files/who1585gr.104324.jpg" alt="...">
			      	<h1>Its a place that will forever keep you under its spell</h1>
			      </div>
			    </div>
			    <div class="item">
			      <div class="carousel-hotel second">
			      	<img src="http://wow-maldives.com/files/header/c9a6dde379f9de9cbc3594cce01e56df.png" alt="...">
			      	<h1>Its a place that will forever keep you under its spell</h1>
			      </div>
			    </div>
			    <div class="item">
			      <div class="carousel-hotel third">
			      	<img src="http://www.realestate.zacoom.com/wp-content/uploads/2013/06/MaldivesBeach.jpg" alt="...">
			      	<h1>Its a place that will forever keep you under its spell</h1>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div id="offers-head">
				<h1>Our Offers</h1>
			</div>
			<div id="offers-body" class="row">
				<div class="col-md-3">
					<img class="col-md-12" src="http://www.cntraveler.com/hotels/asia/maldives/taj-exotica-resort-and-spa-maldives-maldives-maldives/_jcr_content/par/cn_contentwell/par-main/cn_colctrl/par-col1/cn_features_containe/cn_manual_feature_4/cn_image_4.size.taj-exotica-resort-and-spa-maldives-maldives-maldives-109522-5.jpg">
					<h3>Taj Exotica Resort and Spa</h3>
					<p>Located in the South Pacific Ocean, New Zealand might look small on a world map, but it’s as diverse as several continents rolled into one.</p>
					<span class="explore-price pull-left">From $200</span>
					<a href="#" class="pull-right"><i class="icon-chevron-right"></i></a>
				</div>
				<div class="col-md-3">
					<img class="col-md-12" src="http://www.photos4travel.com/sites/default/files/Diva-Maldives-Resort.jpg">
					<h3>Diva Maldives</h3>
					<p>Located in the South Pacific Ocean, New Zealand might look small on a world map, but it’s as diverse as several continents rolled into one.</p>
					<span class="explore-price pull-left">From $200</span>
					<a href="#" class="pull-right"><i class="icon-chevron-right"></i></a>
				</div>
				<div class="col-md-3">
					<img class="col-md-12" src="http://www.photos4travel.com/sites/default/files/maldives-resorts.jpg">
					<h3>Bandos Island Resort</h3>
					<p>Located in the South Pacific Ocean, New Zealand might look small on a world map, but it’s as diverse as several continents rolled into one.</p>
					<span class="explore-price pull-left">From $200</span>
					<a href="#" class="pull-right"><i class="icon-chevron-right"></i></a>
				</div>
				<div class="col-md-3">
					<img class="col-md-12" src="http://images5.fanpop.com/image/photos/27900000/Maldives-maldives-27942729-360-278.jpg">
					<h3>Bandos Island Resort</h3>
					<p>Located in the South Pacific Ocean, New Zealand might look small on a world map, but it’s as diverse as several continents rolled into one.</p>
					<span class="explore-price pull-left">From $200</span>
					<a href="#" class="pull-right"><i class="icon-chevron-right"></i></a>
				</div>
			</div>
		</div>
		<div class="row" id="featured-hotels-head">
			<h2>Featured Hotels</h2>
		</div>
		<div id="featured-carousel" class="carousel slide">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#featured-carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#featured-carousel" data-slide-to="1"></li>
			    <li data-target="#featured-carousel" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			      <div class="row featured-hotels">
					<div class="col-md-12">
						<img src="http://wow-maldives.com/files/header/c9a6dde379f9de9cbc3594cce01e56df.png">
					</div>
					<div class="col-md-8 featured-p">
						<h1>Bandos Island Resort</h1>
						<p>We are delighted to welcome Domenico Dolce and Stefano Gabbana to spread their special Christmas magic in our lobby this year," said Thomas Kochs, Claridge's general manager. "Both Claridge's and Dolce & Gabbana are synonymous with timeless glamour, innovative spirit and traditional family values that are so important at this time of year.</p>
					</div>
					<div class="col-md-4 featured-price-box">
						<h2>From $400</h2>
						<a href="#"><i class="icon-chevron-sign-right icon-3x"></i></a>
					</div>
				</div>
			    </div>
			    <div class="item">
			      <div class="row featured-hotels">
					<div class="col-md-12">
						<img src="http://wow-maldives.com/files/header/c9a6dde379f9de9cbc3594cce01e56df.png">
					</div>
					<div class="col-md-8 featured-p">
						<h1>Bandos Island Resort</h1>
						<p>We are delighted to welcome Domenico Dolce and Stefano Gabbana to spread their special Christmas magic in our lobby this year," said Thomas Kochs, Claridge's general manager. "Both Claridge's and Dolce & Gabbana are synonymous with timeless glamour, innovative spirit and traditional family values that are so important at this time of year.</p>
					</div>
					<div class="col-md-4 featured-price-box">
						<h2>From $400</h2>
						<a href="#"><i class="icon-chevron-sign-right icon-3x"></i></a>
					</div>
				</div>
			    </div>
			  </div>
		</div>
	</div>