@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

body {
    background: rgb(242, 247, 250);
    color: rgb(123, 140, 166);
    font-family: 'Open Sans';
}

html {
    font-size: 100%;
}

@media only screen and (min-width: 992px) {
    #main-box-view {
        padding-left: 0;
    }
}

@media (max-width: 992px) {
    #home-feed-list .col-md-6 {
        width: 97.5%!important;
    }
}

.post-outer {
    padding: 1em!important;
}

.tour-backdrop {
    background: rgba(255, 255, 255, .8);
}

.popover {
    border-radius: 0;
    border: none;
}

#bot-menu {
 
}

#sort-menu-btn {}

#sort-filters {
    padding: 0.3em;
    border-top: 1px solid rgb(242, 247, 250);
    display: none;
    margin-top: 0.6em;
    padding-top: 0.8em;
    font-size: 0.9em;
}

.search-filter {
    font-size: 0.75em;
    text-align: left;
}

.post-header {
    display:  block;
}

.suggest-label {
    font-size: 0.8em!important;
    border-radius: 0!important;
}

#profile input {
    border: none;
    background: rgb(245, 248, 250);
    margin-top: 0.2em;
}

#suggestModal .modal-body {
    text-align: left;
}

#suggestModal .ui.list .header {
    font-weight: 200!important;
}

#suggestModal .ui.divided.list > .item, .ui.divided.list:not(.horizontal) > .list {
    border: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    border: none;
    background: rgb(0, 167, 240);
}

.btn-default {
    border: none;
    background: whiteSmoke;
}

.modal {
    padding-top: 10%;
}

.modal-footer {
    padding: 0.5em;
    margin: 0;
    text-align: right;
}

.modal-backdrop {
    background: rgb(255,255,255);
}

.modal-backdrop.in {
    opacity: .8;
}

.modal-header {
    padding: 0.5em;
}

.modal-content {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #eee;
}

.modal-content p {
    margin: 0;
}

.modal-body {
    text-align: center;
}

.ui.input {
    width: 100%;
}

.ui.input input {
    padding-bottom: 0.6em;
    border-radius: 0!important;
}

.ui.facebook.button, .ui.blue.buttons .button, .ui.blue.button {
    border: none!important;
}

.ui.button {
    border: 1px solid #eee;
    border-radius: 0;
}

.product-gallery {
    margin-top: 1em;
}

.product-detail {
    text-align: center;
}

.product-gallery li {
    padding: 0;
}

.product-gallery img {
    max-height: 82px;
}

.product-gallery li {
    margin-bottom: 0.5em!important;
}

.reds {
    color: rgb(217, 92, 92)!important;
}

.product-link {
    font-weight: 600;
}

.product-list li {
    margin-bottom: 2em;
}

.pick-btn {
    font-weight: bolder;
}

.offer-keyword {
    font-weight: 600;
    color: rgb(240, 89, 64)!important;
}

.product-list a {
    font-weight: 200;
    font-size: 1.5em;
}

.product-list p {
    font-size: 0.9em;
    margin-bottom: 1em;
}

#follow-block h3 {
    margin-bottom: 0.8em;
}

#main-search-container {
    width: 50%;
}

#main-search {
    color: white;
    border-radius: 0;
    background: none;
    letter-spacing: 0.1em;
    border: none;
    background: rgba(255, 255, 255, .2);
    line-height: 15px;
    width: 50%!;
    padding: 0.5em;
}

#main-search-icon {
    padding-top: 0.52em;
    color: white;
}

.follow-list img {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 1em;
}

.follow-list li {
    margin-bottom: 1.5em;
}

.follow-list .button {
    font-size: 0.7em!important;
    font-weight: 600!important;
}

.follow-list p {
    margin: 0;
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.ui.menu {
    box-shadow:0 1px 1px 0 rgb(217, 227, 247);
    -webkit-box-shadow -box-shadow:0 1px 1px 0 rgb(217, 227, 247);
    -moz-box-shadow:0 1px 1px 0 rgb(217, 227, 247);
    border: none;
}

#transaction-block h3 {
    margin-bottom: 0.4em;
}

#transaction-list .item {
    padding: 1em 0;
}

#user-profile-menu {
    margin-bottom: 0;
}

#user-info p {
    text-align: center;
    font-size: 0.7em;
    letter-spacing: 0.1em;
}

#user-info h3 {
    text-align: center;
    margin-top: 0;
}

.menu .ui.button {
    border: none;
}

.user-info.ui.attached.left.button, .user-info.ui.attached.right.button  {
    font-size: 13px;
    color: rgb(0, 167, 240);
    font-weight: 600;
    letter-spacing: 0.1em;
    border: 1px solid 1px solid rgb(217, 217, 217);
    background:  white;
    border-radius: 0;
    text-align: center;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05)!important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "open sans";
}

h5 {
    margin-top: 0;
}

.progress {
    box-shadow: none;
    border-radius: 0;
    height: 10px;
}

.progress-bar-success, .progress-bar-danger, .progress-bar-warning {
    box-shadow: none;
}

.progress-bar-success {
    background: rgb(161, 207, 100) !important;
}


.progress-bar-danger {
    background: rgb(217, 92, 92) !important
}

.ui.floating.label {
    top: 0;
    font-size: 0.7em;
    right: 1;
}

h3 {
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

.radio, .checkbox {
    margin-top: 13px;
}

.reply-tools {
    margin-top: -10px;
}

.reply-tools a {
    font-size: 0.8em;
    margin-left: 1em;
}

.reply-tools label {
    font-size: 0.8em;
}

.ui.toggle.checkbox .box, .ui.toggle.checkbox label {
    padding-left: 2em;
    color: rgb(0, 167, 240);
}

.ui.vertical.menu {
    width: 100%;
}

.ui.threaded.comments.comment-replies  {
    margin-top: 0;
}

.ui.threaded.comments.comment-replies h3 {
    margin-top: 1.5em;
    display: block;
    clear: left;
}

.ui.threaded.comments.comment-replies .author, .ui.threaded.comments.comment-replies .text {
    font-size: 1em;
}

.ui.inverted.dimmer {
    background-color: rgba(255, 255, 255, 0.65);
}

.ui.button.white {
    color: #00A7F0;
    border: 1px solid #eee;
    background: white;
}

#post-menu .text {
    color: #7B8CA6;
    font-weight: 400;
    font-size: 1.4em;
    padding: 0.2em 0.5em;
    display: block;
}

#post-menu .text a {
    color: rgba(154, 171, 197, .4);
    font-weight: 600;
    margin: 0 2px;
    text-decoration: none;
}

#post-menu .text a.active {
    color: #00A7F0;
}

#sell-form {
    display: none;
}

#request-form {
    color: #7B8CA6;
    font-weight: 200;
}

#request-form a {
    font-weight: 400;
}

#home-feed-list {
    padding-right: 1em;
}

#home-feed-list .col-md-6 {
    width: 49.1%;
    margin-bottom:  0;
}

.post-box {
    padding: 1em;
    padding-right: 0;
    padding-top: 0;
}

.post-box .ui.horizontal.labels .label, .ui.horizontal.label {
    background: rgb(245, 248, 250);
    color: rgb(0, 167, 240);
    font-size: 0.6em!important;
    font-weight: 600;
    float: right;
    margin-top: 0.2em;
    letter-spacing: 0.1em;
}

#inner-container {
    position: relative;
}

#contact-list li {
    margin: 1.5em 0;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

#contact-list h4 {
    font-size: 1.2em;
    font-weight: 400;
}

#top-nav {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

#main-container {

}

.ui.menu .item:before {
    background-image:  none;
}

.avatar {
    margin: 0em auto;
    width: 3em;
    height: 3em;
    border-radius: 500px;
}

.margin-zero {
    margin: 0!important;
}

.ui.slider.checkbox .box, .ui.slider.checkbox label {
    padding-left: 2em;
    color: #9AABC5;
}

.ui.comments>.comment .comments {
    margin-left: 0;
}

.ui.comments>.comment .comments h3 {
    margin: 0;
    letter-spacing: 0.1em;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    font-size: 1.3em;
    font-weight: 400;
}

.ui.threaded.comments .comment .comments {
    margin-left: 1em!important;
    padding-left: 1em!important;
}

.extra.images img {
    width: 70px;
}

.item-footer {
    display: none;
    padding: 0 0.3em;
}

.item-footer textarea {
    width: 100%;
    border: 1px solid #E3ECFD;
    margin-top: 1em;
    padding: 0.5em;
    font-size: 0.8em!important;
    margin-bottom: 1em;
}

.ui.button, .ui.attached.button {
    font-weight: 400;
    box-shadow: none!important;
}

.ui.attached.button {
    box-shadow: none;
}

.ui.blue.buttons .button, .ui.blue.button {
    background-color: #1AB8F3;
}

#banner {
    background: url('../../assets/img/banner.jpg');
    background-size: 100%;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 500px;
    color: white;
}

#banner h1 {
    font-size: 3em;
    text-shadow: 1px 2px 13px rgba(0, 0, 0, 1);
    font-weight: 200;
    margin-bottom: 0.3em;
    padding-top: 12%;
}

#banner p {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-shadow: 1px 2px 13px rgba(0, 0, 0, 1);
}

#home-feed-list .avatar.green img {
    padding: 0.1em;
    border: 2px solid rgb(161, 207, 100);
}

#home-feed-list .avatar.yellow img {
    padding: 0.1em;
    border: 2px solid rgb(240, 173, 78);
}

#home-feed-list .avatar.red img {
    padding: 0.1em;
    border: 2px solid rgb(217, 92, 92);
}

#post-menu {
    padding: 0.5em;
    background: white;
    border-bottom: 1px solid rgb(245, 248, 250);
    box-shadow:0 1px 1px 0 rgb(217, 227, 247)  ;
}

#sort-menu {
    padding: 0.5em;
    font-size: 1.4em;
    background: white;
    margin-bottom:  0.7em;
    box-shadow:0 1px 1px 0 rgb(217, 227, 247)  ;
}

#sort-menu h4 {
    margin: 0;
}

#sort-menu-head {
    padding: 0.2em 0em;
}

#pm-list {
    overflow-y: scroll;
    border-right: 1px solid #eee;
}

#submit-post {
    background: #3CC053;
}

strong {
    color: #7B8CA6;
    font-weight: 400;
}

#pm-list .item {
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
    padding-top: 1em;
}

#pm-list-inner {
    padding-top: 0;
}

.pm-author {
    margin-bottom: 0.3em;
    display: block;
}

.pm-block.ui.feed .label + .content {
    padding-top: 0;
    padding-left: 0.5em;
}

#message-detail {
    border-left: 1px solid #eee;
    padding-right: 0;
    position: relative;
}

#message-container {
    padding-right: 0;
}

#message-content {
    overflow-y: scroll;
    padding-left: 1em;
}

.date {
    font-size: 0.8em;
}

#message-footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #eee;
    background: white;
    padding: 1em;
}

#message-input {
    border: 1px solid #ddd;
    box-shadow: none;
    font-size: 1em;
    margin-bottom: 1em;
}

#user-menu {
    width: 100%;
}

.ui.segment {
    border: none;
    box-shadow:0 1px 1px 0 rgb(217, 227, 247);
}

.ui.segment, .ui.menu {
    border-radius: 0!important;
}

.ui.items > .row > .item, .ui.items > .item {
    width: auto;
}

#register-block {
    background: white;
    margin-top: 7%;
}

#side-nav-profile {
    margin-top: 1em;
}

#profile {
    margin-top: 1em;
}

.search-add-container {
    padding: 0.5em 2em;
}

.blue-input {
   background: rgb(248, 251, 255)!important;
    border: none!important;
}

.blue-input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 0.85em;
    font-size: 200!important;
    letter-spacing: 0.1em;
    color:    rgb(154, 171, 197);
}
.blue-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgb(227, 236, 253) ;
}
.blue-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgb(227, 236, 253) ;
}
.blue-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgb(227, 236, 253) ;
}

.search-add-btn {
    background: rgb(248, 251, 255)!important;
    color: rgb(0, 167, 240)!important;
    box-shadow: none!important;
    border: none;
    padding: 0.2em!important;
    padding-left: 0.8em!important;
}

.ui.hover.button.col-md-12.filter-btn {
    border-radius: 0!important;
    box-shadow: none;
    background: rgb(0, 167, 240);
    color: white;
    border: none!important;
}

.ui.menu .item, .ui.menu .item>a:not(.button) {
    color: rgb(154, 171, 197);
}

.author {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.ui.comments .comment .text {
    font-size: 1.1em;
    font-weight: 200;
    letter-spacing: 0.4px;
    line-height: 1.5em;
    margin: 0.5em 0.3em;
    margin-top: 1.3em;
    margin-bottom: 0em;
}

.ui.celled.list>.item, .ui.celled.list>.list {
    border-top: 1px solid #E3ECFD;
}

.ui.celled.list>.item:last-child {
    border-bottom: 1px solid #E3ECFD;
}

.ui.comments .comment .actions {
    padding: 0.3em;
    margin-top: 0.7em;
}

.ui.comments .comment .actions a {
    box-shadow: 0 1px 0 rgba(217, 227, 247, 0.5);
    border: 1px solid rgba(217, 227, 247, 0.3);
    color: #00A7F0;
    font-size: 1em;
    letter-spacing: 0.05em;
    margin-right: 0.2em;
    padding: 0.5em 0.9em;
}

.ui.comments .comment .metadata {
    color: #9AABC5;
    font-size: 0.8em;
}

.ui.comments .comment

.comment-replies .avatar {
    width: 2em!important;
    height: 2em!important;
}

.comment-replies .content {
    margin-left: 2em!important;
    padding-left: 0.5em!important;
}

.comment-replies .avatar img {
    width: 2em!important;
    height: 2em!important;
}

.comment-detail .text {
    margin-top: -0.1em;
    margin-bottom: 0.6em!important;
}

.clear {
    clear: both;
}

.ui.dimmed.dimmable > .ui.animating.dimmer, .ui.dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
    border-radius: 0;
}

#main-container {
    
}

#request-form {
    margin-top: 0em;
}

.ui.inverted.blue.menu {
    background: rgb(0, 167, 240);
    border: none;
    background: rgb(0, 167, 240);
    border-radius: 0;
}

a {
    color: #00A7F0;
}

#home-feed .item {
    background: white;
    border: 1px solid #E3ECFD;
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.18);
    margin: 1em 0;
    padding: 1.5em;
    color: #9AABC5;
}

#side-nav {
    width:  100%;
    border: none;
    box-shadow:0 1px 1px 0 rgb(217, 227, 247)  ;
    margin-top: 2em;
}