#black-nav .dropdown-menu abody {
	font-family: 'Open Sans'!important;
}

.speed1 {
	-moz-animation-duration: 1s;
	-webkit-animation-duration: 1s;
	-ms-animation-duration: 1s;
	animation-duration: 1s;
}

#main-carousel {
	max-height: 450px;
	overflow: hidden;
	margin: 0;
}

.carousel-hotel {
	position: relative;
}

.carousel-hotel.third h1 {
	left: 20%;
	top: 10%;
	width: 50%;
}

.carousel-hotel.second h1 {
	right: 10%;
	top: 40%;
	width: 50%;
}

.carousel-hotel.first h1 {
	left: 5%;
	top: 30%;
	width: 50%;
}

.carousel-hotel h1 {
	position: absolute;
	font-family: 'Open Sans'!important;
	font-weight: 100;
	color: white;
}

#first-nav {
	background: rgba(255, 255, 255, .5);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -200px;
	padding: 20px;
	border: 1px solid #ddd;
}

#first-nav a {
	font-size: 30px;
	font-weight: 100;
	padding: 20px;
	color: #555;
	text-decoration: none;
	text-shadow: 3px 3px 19px rgba(255, 255, 255, 1);
}

#first-nav a:hover {
	color: #333;
}

#first-nav a:first-child {
	border-right: 1px solid #ddd;
	padding-right: 40px;
	margin-right: 20px;
}

#book-form {
	position: fixed;
	top: 20%;
	left: 40%;
}

#book-form h1 {
	font-family: 'Open Sans'!important;
	font-weight: 200;
	color: white;
	text-shadow: 3px 3px 19px rgba(255, 255, 255, 1);
}

#book-form form {
	background: rgba(255, 255, 255, .9);
	margin-top: 20px;
	padding: 5px;
	padding-bottom: 0;
}

#book-form form input {
	width: 100%;
	border: none;
	background: none;
}

#book-form form .input-div {
	padding: 15px 10px;
	border-bottom: 1px solid white;
}

#book-form form h5 {
	font-family: 'Open Sans'!important;
	margin: 0;
	margin-bottom: 10px;
	font-weight: 600;
}

#book-form form .slider.slider-horizontal {
	width: 98%!important;
}

.x {
	color: white;
	margin-left: 140px;
}

.slider-handle {
	background: none!important;
	border: 4px solid #0E90D2!important;
}

.slider {
	margin-left: 7px;
	margin-right: 7px;
}

#main-header {
	border-bottom: 1px solid #eee;
}

#explorer {
	background: white;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.clear {
	clear: both;
}

#top-header {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 15px;
}

#black-nav {
	border-bottom: 1px solid #eee;
	padding: 20px;
	padding-bottom: 10px;
}

#black-nav .dropdown-menu {
    margin-top: 20px;
    border: none;
    border-radius: 0;
}

#black-nav .dropdown-menu li {
    clear: right;
    width: 100%;
}

#black-nav .dropdown-menu a {
    padding: 10px;
    font-size: 12px;
}
#black-nav .dropdown-menu a:hover {
    background: none;
}

#black-nav .dropdown-menu a:first-child {
    padding-left: 10px;
}

#black-nav ul {
	padding: 0;
}

#black-nav li {
	float: left;
	text-transform: uppercase;
}

#black-nav li:first-child a {
	padding-left: 0;
}

#black-nav li a {
	font-size: 14px;
	padding: 20px;
	color: #888;
	text-decoration: none;
}

#black-nav li a:hover {
	color: black;
}

#offers-head {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

#offers-head h1 {
	font-family: 'Open Sans'!important;
	font-weight: 100;
}

#offers-body {
	margin-bottom: 40px;
}

#offers-body h3 {
	font-family: 'Open Sans'!important;
	font-weight: 100;
}

#offers-body p {
	font-size: 12px;
}

#offers-body img {
	padding: 0;
	height: 200px;
}

#offers-body .explore-price {
	font-size: 20px;
	font-weight: 200;
	display: block;
	margin-top: 0px;
}

.featured-hotels {
	background: #EBECF0;
	padding-left: 15px;
	padding-right: 15px;
}

.featured-hotels .col-md-12 {
	padding: 0;
}

.featured-hotels h1 {
	margin: 0;
	font-family: 'Open Sans'!important;
	font-weight: 100;
}

#featured-hotels-head {
	background: #444444;
	text-align: center;
	padding: 15px;
}

#featured-hotels-head h2 {
	font-family: 'Open Sans'!important;
	font-weight: 100;
	margin: 0;
	color: white;
}

.featured-p {
	margin-top: 15px;
	padding-left: 20px;
	z-index: 100;
}

.featured-p p {
	line-height: 20px;
}

.featured-p h1 {
	font-family: 'Open Sans'!important;
	font-weight: 100;
	margin: 0;
	margin-bottom: 15px;
}

.featured-price-box {
	text-align: right;
	padding-right: 20px;
	z-index: 100;
}

.featured-price-box h2 {
	font-family: 'Open Sans'!important;
	font-weight: 100;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 15px;
}

.featured-price-box a {
	color: #666;
}

#featured-carousel {
	margin: -15px;
	margin-top: 0;
}

#featured-carousel .col-md-12 {
	max-height: 450px;
	overflow: hidden;
}

.carousel-indicators {
	width: auto;
	left: 32%;
}

#search-result-form {
    background: whiteSmoke;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 15px;
}

#search-result-form label {
    font-weight: 100;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#search-result-form input {
    border-radius: 0;
    border: 1px solid #eee;
    box-shadow: none;
    padding: 20px;
}

#search-booking-btn {
    background: #5BB2FC;
    padding: 10px 15px!important;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    border: none;
}

#booking-search-btn-container {
    padding: 0 15px;
}

#search-results-container {
    border-top: 1px solid #eee;
    margin-top: 5px;
    padding-top: 25px;
}

#search-results-container h3 {
    margin: 0;
    font-weight: 200;
    margin-bottom: 7px;
}

#search-results-container p {
    font-size: 14px;
    font-weight: 100;
}

#search-results-container .price {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

#search-results-container i {
    color: #F8BE2C;
}

#search-results-container .col-md-6 {
    margin-bottom: 20px;
}

#hotel-detail-header h1 {
    font-family: 'Open Sans'!important;
    font-weight: 200;
    margin-left: -2px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

#hotel-address {
    margin-bottom: 20px;
    font-size: 12px;
    color: #999;
    letter-spacing: 2px;
    font-weight: 100;
}

#hotel-details-container h4 {
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 25px;
    margin-top: 25px;
}

#hotel-carousel {
    margin-bottom: 7px;
    max-height: 350px;
    overflow: hidden;
}

#hotel-detail-booking-form input {
    border-radius: 0;
    box-shadow: none;
    padding: 15px;
    border: 1px solid #eee;
}

#hotel-detail-booking-container h3 {
    margin: 0;
    font-weight: 200;
    margin-bottom: 15px;
}

#hotel-detail-booking-btn {
    background: #5BB2FC;
    border: none;
    font-size: 12px;
    padding: 7px;
    color: white;
}

#hotel-terms-list {
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 15px;
}

#hotel-gallery {
    margin-left: 0;
}

#hotel-gallery img {
    width: 100%;
}

#hotel-gallery li {
    padding: 0;
    margin: 5px 0;
    padding-right: 10px;
}

#hotel-detail-nav {
    margin-left: 0;
}

#services-list {
    font-size: 18px;
    margin: 0;
}

#services-list li {
    float: left;
    margin-right: 13px;
    clear: right;
}

.hotel-detail-block {
    margin-bottom: 20px;
}

#featured-box {
    margin-top: 15px;
}

#featured-box-img {
    height: 150px;
    overflow: hidden;
}

#featured-box h3 {
    font-weight: 200;
    margin-top: 0;
}

#featured-box p {
    font-size: 12px;
    font-weight: 100;
    margin-top: 10px;
}

#featured-box p strong {
    font-weight: 600;
}

#featured-box .featured-box-price {
    font-size: 16px;
    display: block;
}

#featured-box .featured-box-location {
    font-weight: 100;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: none;
}

#hotel-detail-tabs {
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.nav-tabs>li>a:hover {
    background: none;
    border: none;
}

#footer {
    border-top: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}

#footer a {
    font-size: 11px;
}

#footer-left {
    margin: 0;
    font-size: 11px;
    color: #666;
    float: left;
}

#footer-right {
    margin: 0;
    float: right;
}

#footer-right li {
    float: left;
    margin-left: 10px;
}

#quick-facts {
    font-size: 12px;
}

#quick-facts tr td:first-child {
    width: 120px;
    font-weight: 500;
}