<div id="book-form">
	<h1 class="animated fadeInUpBig speed1">START MY TRIP <a href="#/" class="x">X</a></h1>
	<form class="animated fadeInUpBig speed1">
		<div class="input-div">
			<h5>Holiday Type</h5>
			<input type="text" placeholder="Choose arrival date">
		</div>
		<div class="input-div">
			<h5>Standard</h5>
			<input class="slider" type="text" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="show">
		</div>
		<div class="input-div">
			<h5>Budget</h5>
			<input id="budget-slider" class="slider" type="text" value="" data-slider-min="0" data-slider-max="10000" data-slider-step="1" data-slider-value="50" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="show">
		</div>
		<div class="input-div">
			<h5>Distance from the Airport</h5>
			<input class="slider" type="text" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-14" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="show">
		</div>
		<div class="input-div">
			<a href="#" class="btn btn-large btn-block">Search</a>
		</div>
	</form>
</div>