<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Share Post</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to share this post?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Share</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pickModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Pick Offer</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to pick this offer?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="suggestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Suggest to similar Trailists</h4>
            </div>
            <div class="modal-body">
                <div class="ui divided list">
                    <div class="item">
                        <div class="right floated">
                            <div class="ui slider checkbox">
                                <input type="checkbox" name="choose-similar-1" id="choose-similar-1">
                                <label for="choose-similar-1"></label>
                            </div>
                        </div>
                        <img class="ui avatar image" src="assets/img/zuna.jpg">
                        <div class="content">
                            <div class="header">
                                <a href="#">New York Dog Fair <div class="ui green circular label"></div></a>
                                <p>Travel Agent who lives in Male'</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated">
                            <div class="ui slider checkbox">
                                <input type="checkbox" name="choose-similar-2" id="choose-similar-2">
                                <label for="choose-similar-2"></label>
                            </div>
                        </div>
                        <img class="ui avatar image" src="assets/img/zuna.jpg">
                        <div class="content">
                            <div class="header">
                                <a href="#">New York Dog Fair <div class="ui green circular label"></div></a>
                                <p>Travel Agent who lives in Male'</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated">
                            <div class="ui slider checkbox">
                                <input type="checkbox" name="choose-similar-3" id="choose-similar-3">
                                <label for="choose-similar-3"></label>
                            </div>
                        </div>
                        <img class="ui avatar image" src="assets/img/zuna.jpg">
                        <div class="content">
                            <div class="header">
                                <a href="#">New York Dog Fair <div class="ui green circular label"></div></a>
                                <p>Travel Agent who lives in Male'</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated">
                            <div class="ui slider checkbox">
                                <input type="checkbox" name="choose-similar-4" id="choose-similar-4">
                                <label for="choose-similar-4"></label>
                            </div>
                        </div>
                        <img class="ui avatar image" src="assets/img/zuna.jpg">
                        <div class="content">
                            <div class="header">
                                <a href="#">New York Dog Fair <div class="ui green circular label"></div></a>
                                <p>Travel Agent who lives in Male'</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated">
                            <div class="ui slider checkbox">
                                <input type="checkbox" name="choose-similar-5" id="choose-similar-5">
                                <label for="choose-similar-5"></label>
                            </div>
                        </div>
                        <img class="ui avatar image" src="assets/img/zuna.jpg">
                        <div class="content">
                            <div class="header">
                                <a href="#">New York Dog Fair <div class="ui green circular label"></div></a>
                                <p>Travel Agent who lives in Male'</p>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-block btn-default">More</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Suggest to Selected Trailists</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<section class="col-md-9" id="main-box-view">
    <div id="home-feed" class="ui celled list">
        <div id="post-menu">
            <span class="text">I want to <a id="buy-btn" href="#" class="active">Buy</a> <a id="sell-btn" href="#">Sell</a></span>
        </div>
        <div  id="request-form" class="ui segment">
            <div class="nl-blurred">
                <div>
                    
                    <form id="buy-form" class="nl-form">
                        I am looking for a 
                            <input type="text" value="" placeholder="thing" data-subline="For example: <em>Hotel</em> or <em>iPhone</em>"/>
                        in 
                            <input type="text" value="" placeholder="any location" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
                        from 
                            <input type="text" value="" placeholder="any date"/>
                        to 
                            <input type="text" value="" placeholder="any date"/>. 
                        My budget is
                            <input type="text" value="" placeholder="open" data-subline="For example: <em>2000</em> or <em>2100</em>"/>. 
                        I am with
                            <select>
                                <option value="1" selected>no</option>
                                <option value="2">1</option>
                                <option value="3">2</option>
                                <option value="4">3</option>
                                <option value="2">4</option>
                            </select>
                        other people and interested in 
                            <input type="text" value="" placeholder="nothing else" data-subline="For example: <em>Diving</em> or <em>Skiing</em>"/>. 
                        <div class="nl-overlay"></div>
                        <a href="#">HOHH!</a>
                    </form>

                    <script>
                        var nlform = new NLForm( document.getElementById( 'buy-form' ) );
                    </script>
                    
                    <div>
                    
                        <form id="sell-form" class="nl-form">
                            I am 
                                <select>
                                    <option value="1" selected>selling</option>
                                    <option value="2">renting</option>
                                    <option value="2">giving</option>
                                    <option value="2">providing</option>
                                </select>
                            a 
                                <input type="text" value="" placeholder="thing" data-subline="For example: <em>Hotel</em> or <em>iPhone</em>"/>,
                            from 
                                <input type="text" value="" placeholder="any date"/>
                            to 
                                <input type="text" value="" placeholder="any date"/>. 
                            I am based in 
                                <input type="text" value="" placeholder="any location" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/> and the
                            price is
                                <input type="text" value="" placeholder="open" data-subline="For example: <em>2000</em> or <em>2100</em>"/>. 
                            the product is 
                                <input type="text" value="" placeholder="not viewable" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
                            <a href="#">HOHH!</a>
                            <div class="nl-overlay"></div>
                        </form>
                            
                        <script>
                            var nlform = new NLForm( document.getElementById( 'sell-form' ) );
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div id="sort-menu">
            <div id="sort-menu-head">
                <h4><a href="#" id="sort-menu-btn">Sort by</a></h4>
            </div>
            <div id="sort-filters" class="row">
                <div class="col-md-2 search-filter">
                    <h5>Sort by</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Relevance</a></li>
                        <li><a href="#">Upload Date</a></li>
                        <li><a href="#">Popularity</a></li>
                        <li><a href="#">Replies</a></li>
                    </ul>
                </div>
                <div class="col-md-2 search-filter">
                    <h5>Date</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Last Hour</a></li>
                        <li><a href="#">Today</a></li>
                        <li><a href="#">This week</a></li>
                        <li><a href="#">This month</a></li>
                        <li><a href="#">This year</a></li>
                    </ul>
                </div>
                <div class="col-md-2 search-filter">
                    <h5>Budget</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Low Budget</a></li>
                        <li><a href="#">Budget</a></li>
                        <li><a href="#">Mid Budget</a></li>
                        <li><a href="#">High Budget</a></li>
                    </ul>
                </div>
                <div class="col-md-2 search-filter">
                    <h5>Popular Types</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Hotel</a></li>
                        <li><a href="#">Phones</a></li>
                        <li><a href="#">Apartments</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Investments</a></li>
                    </ul>
                </div>
                <div class="col-md-2 search-filter">
                    <h5>Trending Tags</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">#Hotel</a></li>
                        <li><a href="#">#Phones</a></li>
                        <li><a href="#">#Apartments</a></li>
                        <li><a href="#">#Jobs</a></li>
                        <li><a href="#">#Investments</a></li>
                    </ul>
                </div>
                <div class="col-md-2 search-filter">
                    <h5>Popular Users</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">@Hotel</a></li>
                        <li><a href="#">@Phones</a></li>
                        <li><a href="#">@Apartments</a></li>
                        <li><a href="#">@Jobs</a></li>
                        <li><a href="#">@Investments</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <ul class="list-unstyled row" id="home-feed-list">
            <li class="post-box col-md-6">
                <div class="ui segment">
                    <a class="ui left corner label green">
                        <div class="text">Picked</div>
                    </a>
                    <div class="comment">
                        <div class="ui comments">
                            <div class="comment">
                                <div class="post-header">
                                    <a class="avatar green">
                                        <img src="assets/img/zuna.jpg">
                                    </a>
                                    <a class="author" href="#!/user/activity">Zuna Majid</a><a class="ui gray horizontal label suggest-label" data-toggle="modal" data-target="#suggestModal">Suggest to trailists</a>
                                    <div class="date">2 days ago</div>
                                </div>

                                    <article class="text">
                                            Zuna Majid is looking for a <strong><a href="#">2 room apartment</a></strong> in <strong><a href="#">Maldives</a></strong> from <strong><a href="#">2 July 2014</a></strong> to <strong><a href="#">7th July 2014</a></strong>. Her budget is <strong><a href="#">$2000</a></strong>. Her travel party is <strong><a href="#">4 people</a></strong> and she is also interested in <strong><a href="#">Diving</a>, <a href="#">Watersports</a>, <a href="#">Watersports</a>, <a href="#">Watersports</a></strong>.
                                    </article>
                                    <div class="actions">
                                        <a class="trail-btn">Trail</a>
                                        <a class="reply-btn">Reply</a>
                                        <a class="share-btn" data-toggle="modal" data-target="#shareModal">Share</a>
                                        <div class="pull-right">
                                            <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                                            <a href="#"><span class="glyphicon glyphicon-star-empty"></span></a>
                                        </div>
                                    </div>
                                    <div class="item-footer">
                                        <textarea class="col-md-12" rows="1" placeholder="To list your product use $ to add an offer or @ to add a product"></textarea>
                                        
                                        <div class="reply-tools pull-left">
                                            <div class="ui toggle checkbox">
                                              <input type="checkbox" name="walk" id="unique-id">
                                              <label for="unique-id">Private</label>
                                            </div>
                                            <a href="#"><i class="dollar icon"></i>Add Offer</a>
                                            <a href="#"><i class="attachment icon"></i>Add Files</a>
                                            <a href="#"><i class="map marker icon"></i>Location</a>
                                        </div>
                                        <div class="comments-block">
                                            
                                            <div class="ui threaded comments comment-replies">
                                                
                                                <h3>Replies</h3>
                                                <div class="comment">

                                                    <div class="comment-detail">
                                                        <a class="avatar">
                                                            <img src="http://semantic-ui.com/images/demo/avatar2.jpg">
                                                        </a>
                                                        <div class="content">
                                                            <a class="author">Visham</a>
                                                            <div class="metadata">
                                                                <div class="ui green circular label"></div>
                                                                <span class="date">2 days ago</span>
                                                            </div>
                                                        </div>
                                                        <div class="">
                                                            <div class="text">I offer you good place for <a class="offer-keyword" data-toggle="modal" data-target="#pickModal">$2500</a>. Me Inglish very good speaking, you can check the place here <a href="#" class="product-link">Thulusdhoo island</a>. Attached Please find some photos.
                                                            </div>
                                                            <div class="extra images">
                                                                <img src="http://semantic-ui.com/images/demo/item1.jpg">
                                                                <img src="http://semantic-ui.com/images/demo/item2.jpg">
                                                            </div>
                                                            <div class="actions">
                                                                <a class="reds pick-btn trail-btn" data-toggle="modal" data-target="#pickModal">Pick</a>
                                                                <a class="reply">Trail</a>
                                                                <a class="reply">Reply</a>
                                                                <a class="delete">Share</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="comments">
                                                        
                                                        <div class="comment">
                                                            <div class="comment-detail">
                                                                <a class="avatar">
                                                                    <img src="http://semantic-ui.com/images/demo/avatar2.jpg">
                                                                </a>
                                                                <div class="content">
                                                                    <a class="author">Visham</a>
                                                                    <div class="metadata">
                                                                        <div class="ui green circular label"></div>
                                                                        <span class="date">2 days ago</span>
                                                                    </div>
                                                                </div>
                                                                <div class="">
                                                                    <div class="text">I offer you good place for <a class="offer-keyword" data-toggle="modal" data-target="#pickModal">$2500</a>. Me Inglish very good speaking, you can check the place here <a href="#" class="product-link">Thulusdhoo island</a>. Attached Please find some photos.
                                                                    </div>
                                                                    <div class="extra images">
                                                                        <img src="http://semantic-ui.com/images/demo/item1.jpg">
                                                                        <img src="http://semantic-ui.com/images/demo/item2.jpg">
                                                                    </div>
                                                                    <div class="actions">
                                                                        <a class="reds pick-btn trail-btn" data-toggle="modal" data-target="#pickModal">Pick</a>
                                                                        <a class="reply">Trail</a>
                                                                        <a class="reply">Reply</a>
                                                                        <a class="delete">Share</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="comment">
                                                            <div class="comment-detail">
                                                                <a class="avatar">
                                                                    <img src="http://semantic-ui.com/images/demo/avatar2.jpg">
                                                                </a>
                                                                <div class="content">
                                                                    <a class="author">Visham</a>
                                                                    <div class="metadata">
                                                                        <div class="ui green circular label"></div>
                                                                        <span class="date">2 days ago</span>
                                                                    </div>
                                                                </div>
                                                                <div class="">
                                                                    <div class="text">I offer you good place for <a class="offer-keyword" data-toggle="modal" data-target="#pickModal">$2500</a>. Me Inglish very good speaking, you can check the place here <a href="#" class="product-link">Thulusdhoo island</a>. Attached Please find some photos.
                                                                    </div>
                                                                    <div class="extra images">
                                                                    </div>
                                                                    <div class="actions">
                                                                        <a class="reds pick-btn trail-btn" data-toggle="modal" data-target="#pickModal">Pick</a>
                                                                        <a class="reply">Trail</a>
                                                                        <a class="reply">Reply</a>
                                                                        <a class="delete">Share</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <a class="ui button white col-md-12" href="#">More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end comment -->
                                </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="post-box col-md-6">
                <div class="ui segment dimmable dimmed">
                    <div class="comment">
                        <div class="ui comments">
                            <div class="comment">
                                <div class="post-header">
                                    <a class="avatar yellow">
                                        <img src="assets/img/zuna.jpg">
                                    </a>
                                    <a class="author" href="#!/user/activity">Zuna Majid</a><a class="ui gray horizontal label suggest-label" data-toggle="modal" data-target="#suggestModal">Suggest to trailists</a>
                                    <div class="date">2 days ago</div>
                                </div>

                                    <article class="text">
                                            Zuna Majid is looking for a <strong><a href="#">2 room apartment</a></strong> in <strong><a href="#">Maldives</a></strong> from <strong><a href="#">2 July 2014</a></strong> to <strong><a href="#">7th July 2014</a></strong>. Her budget is <strong><a href="#">$2000</a></strong>. Her travel party is <strong><a href="#">4 people</a></strong> and she is also interested in <strong><a href="#">Diving</a>, <a href="#">Watersports</a></strong>.
                                    </article>
                                    <div class="actions">
                                        <a class="trail-btn">Trail</a>
                                        <a class="reply-btn">Reply</a>
                                        <a class="share-btn" data-toggle="modal" data-target="#shareModal">Share</a>
                                        <div class="pull-right">
                                            <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                                            <a href="#"><span class="glyphicon glyphicon-star-empty"></span></a>
                                        </div>
                                    </div>
                                    <div class="item-footer">
                                        <textarea class="col-md-12" rows="1" placeholder="To list your product use $ to add an offer or @ to add a product"></textarea>
                                        
                                        <div class="reply-tools pull-left">
                                            <div class="ui toggle checkbox">
                                              <input type="checkbox" name="walk" id="unique-id">
                                              <label for="unique-id">Private</label>
                                            </div>
                                            <a href="#"><i class="dollar icon"></i>Add Offer</a>
                                            <a href="#"><i class="attachment icon"></i>Add Files</a>
                                            <a href="#"><i class="map marker icon"></i>Location</a>
                                        </div>
                                    </div>
                                    </div>
                                    <!-- end comment -->
                                </div>
                        </div>
                    </div>
            </li>

            <li class="post-box col-md-6">
                <div class="ui segment dimmable dimmed">
                    <div class="comment">
                        <div class="ui comments">
                            <div class="comment">
                                <div class="post-header">
                                    <a class="avatar red">
                                        <img src="assets/img/zuna.jpg">
                                    </a>
                                    <a class="author" href="#!/user/activity">Zuna Majid</a><a class="ui gray horizontal label suggest-label" data-toggle="modal" data-target="#suggestModal">Suggest to trailists</a>
                                    <div class="date">2 days ago</div>
                                </div>

                                    <article class="text">
                                            Zuna Majid is looking for a <strong><a href="#">2 room apartment</a></strong> in <strong><a href="#">Maldives</a></strong> from <strong><a href="#">2 July 2014</a></strong> to <strong><a href="#">7th July 2014</a></strong>. Her budget is <strong><a href="#">$2000</a></strong>. Her travel party is <strong><a href="#">4 people</a></strong> and she is also interested in <strong><a href="#">Diving</a>, <a href="#">Watersports</a></strong>.
                                    </article>
                                    <div class="actions">
                                        <a class="trail-btn">Trail</a>
                                        <a class="reply-btn">Reply</a>
                                        <a class="share-btn" data-toggle="modal" data-target="#shareModal">Share</a>
                                        <div class="pull-right">
                                            <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                                            <a href="#"><span class="glyphicon glyphicon-star-empty"></span></a>
                                        </div>
                                    </div>
                                    <div class="item-footer">
                                        <textarea class="col-md-12" rows="1" placeholder="To list your product use $ to add an offer or @ to add a product"></textarea>
                                        
                                        <div class="reply-tools pull-left">
                                            <div class="ui toggle checkbox">
                                              <input type="checkbox" name="walk" id="unique-id">
                                              <label for="unique-id">Private</label>
                                            </div>
                                            <a href="#"><i class="dollar icon"></i>Add Offer</a>
                                            <a href="#"><i class="attachment icon"></i>Add Files</a>
                                            <a href="#"><i class="map marker icon"></i>Location</a>
                                        </div>
                                    </div>
                                    </div>
                                    <!-- end comment -->
                                </div>
                        </div>
                    </div>
            </li>

            <li class="post-box col-md-6">
                <div class="ui segment dimmable dimmed">
                    <div class="comment">
                        <div class="ui comments">
                            <div class="comment">
                                <div class="post-header">
                                    <a class="avatar green">
                                        <img src="assets/img/zuna.jpg">
                                    </a>
                                    <a class="author" href="#!/user/activity">Zuna Majid</a><a class="ui gray horizontal label suggest-label" data-toggle="modal" data-target="#suggestModal">Suggest to trailists</a>
                                    <div class="date">2 days ago</div>
                                </div>

                                    <article class="text">
                                            Zuna Majid is looking for a <strong><a href="#">2 room apartment</a></strong> in <strong><a href="#">Maldives</a></strong> from <strong><a href="#">2 July 2014</a></strong> to <strong><a href="#">7th July 2014</a></strong>. Her budget is <strong><a href="#">$2000</a></strong>. Her travel party is <strong><a href="#">4 people</a></strong> and she is also interested in <strong><a href="#">Diving</a>, <a href="#">Watersports</a></strong>.
                                    </article>
                                    <div class="actions">
                                        <a class="trail-btn">Trail</a>
                                        <a class="reply-btn">Reply</a>
                                        <a class="share-btn" data-toggle="modal" data-target="#shareModal">Share</a>
                                        <div class="pull-right">
                                            <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                                            <a href="#"><span class="glyphicon glyphicon-star-empty"></span></a>
                                        </div>
                                    </div>
                                    <div class="item-footer">
                                        <textarea class="col-md-12" rows="1" placeholder="To list your product use $ to add an offer or @ to add a product"></textarea>
                                        
                                        <div class="reply-tools pull-left">
                                            <div class="ui toggle checkbox">
                                              <input type="checkbox" name="walk" id="unique-id">
                                              <label for="unique-id">Private</label>
                                            </div>
                                            <a href="#"><i class="dollar icon"></i>Add Offer</a>
                                            <a href="#"><i class="attachment icon"></i>Add Files</a>
                                            <a href="#"><i class="map marker icon"></i>Location</a>
                                        </div>
                                    </div>
                                    </div>
                                    <!-- end comment -->
                                </div>
                        </div>
                    </div>
            </li>
        </ul>
    </div>
</section>