<section id="banner" class="hide">
        <div class="container">
            <h1>Job Listing Just Got Easy</h1>
            <p>Trailist finds jobs and solutions across 3 continents</p>
            <a class="ui huge blue button">Learn More</a>
            <div class="ui huge facebook button">
              <i class="facebook icon"></i>
              Login with Facebook
            </div>
            
        </div>
</section>
<div id="bot-menu">
                <div class="container">
                    &nbsp;
                </div>
            </div>
<section id="main-container" class="container">
    
    <aside id="side-nav-container" class="col-md-3">
        <section id="side-nav" class="ui vertical menu">
            <div class="item">
                <i class="map marker icon"></i> Location
                <div class="menu">
                    <div class="row">
                        <div class="ui left action input col-md-12 search-add-container">
                            <input class="blue-input" type="text" placeholder="Filter by Location, City, Country">
                            <div class="ui button search-add-btn"><i class="plus icon"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item">
                <i class="home icon"></i> Keywords
                <div class="menu">
                    <div class="row">
                        <div class="ui left action input col-md-12 search-add-container">
                            <input class="blue-input" type="text" placeholder="Enter type eg: Hotel">
                            <div class="ui button search-add-btn"><i class="plus icon"></i></div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="item">
                <i class="home icon"></i> Dates
                <div class="menu">
                    <div class="row">
                        <div class="ui input col-md-12 search-add-container">
                            <input class="blue-input" type="text" placeholder="Search...">
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="item">
                <i class="home icon"></i> Options
                <div class="menu">
                    <div class="row">
                        <div class="ui left action input col-md-12 search-add-container">
                            <input class="blue-input" type="text" placeholder="Enter options">
                            <div class="ui button search-add-btn"><i class="plus icon"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item">
                <i class="home icon"></i> Budget
                <div class="menu">
                    <div class="row">
                        <div class="ui left action input col-md-12 search-add-container">
                            <input class="blue-input" type="text" placeholder="Enter options">
                            <div class="ui button search-add-btn"><i class="plus icon"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <button class="ui hover button col-md-12 filter-btn">
                Filter
            </button>
        </section>
    </aside>
    
    <section ui-view></section>    
    <br class="clear">
    
</section>