<div class="container">
    <div id="register-block" class=" col-md-5 col-lg-offset-3">
        <h1> Sign up with Facebook </h1>
        <input type="text" placeholder="First Name" class="col-md-6">
        <input type="text" placeholder="Second Name" class="col-md-6">
        <input type="text" placeholder="Email Address" class="col-md-12">
        <select class="ajax ui-Select Module col-md-12" name="country">
            <option value="AF">
            Afghanistan (افغانستان‎) 
                </option>
            <option value="AX">
            Aland Islands 
                </option>
            <option value="AL">
            Albania (Shqipëria) 
                </option>
            <option value="DZ">
            Algeria (الجزائر‎) 
                </option>
            <option value="AS">
            American Samoa 
                </option>
            <option value="AD">
            Andorra 
                </option>
            <option value="AO">
            Angola 
                </option>
            <option value="AI">
            Anguilla 
                </option>
            <option value="AQ">
            Antarctica 
                </option>
            <option value="AG">
            Antigua and Barbuda 
                </option>
            <option value="AR">
            Argentina 
                </option>
            <option value="AM">
            Armenia (Հայաստան) 
                </option>
            <option value="AW">
            Aruba 
                </option>
            <option value="AU">
            Australia 
                </option>
            <option value="AT">
            Austria (Österreich) 
                </option>
            <option value="AZ">
            Azerbaijan (Azərbaycan) 
                </option>
            <option value="BS">
            Bahamas 
                </option>
            <option value="BH">
            Bahrain (البحرين‎) 
                </option>
            <option value="BD">
            Bangladesh (বাংলাদেশ) 
                </option>
            <option value="BB">
            Barbados 
                </option>
            <option value="BY">
            Belarus (Беларусь) 
                </option>
            <option value="BE">
            Belgium (België) 
                </option>
            <option value="BZ">
            Belize 
                </option>
            <option value="BJ">
            Benin (Bénin) 
                </option>
            <option value="BM">
            Bermuda 
                </option>
            <option value="BT">
            Bhutan (འབྲུག) 
                </option>
            <option value="BO">
            Bolivia,Plurinational State of 
                </option>
            <option value="BQ">
            Bonaire,Sint Eustatius and Saba 
                </option>
            <option value="BA">
            Bosnia and Herzegovina (Босна и Херцеговина) 
                </option>
            <option value="BW">
            Botswana 
                </option>
            <option value="BV">
            Bouvet Island 
                </option>
            <option value="BR">
            Brazil (Brasil) 
                </option>
            <option value="IO">
            British Indian Ocean Territory 
                </option>
            <option value="BN">
            Brunei Darussalam 
                </option>
            <option value="BG">
            Bulgaria (България) 
                </option>
            <option value="BF">
            Burkina Faso 
                </option>
            <option value="BI">
            Burundi (Uburundi) 
                </option>
            <option value="KH">
            Cambodia (កម្ពុជា) 
                </option>
            <option value="CM">
            Cameroon (Cameroun) 
                </option>
            <option value="CA">
            Canada 
                </option>
            <option value="CV">
            Cape Verde (Kabu Verdi) 
                </option>
            <option value="KY">
            Cayman Islands 
                </option>
            <option value="CF">
            Central African Republic (République centrafricaine) 
                </option>
            <option value="TD">
            Chad (Tchad) 
                </option>
            <option value="CL">
            Chile 
                </option>
            <option value="CN">
            China (中国) 
                </option>
            <option value="CX">
            Christmas Island 
                </option>
            <option value="CC">
            Cocos (Keeling) Islands 
                </option>
            <option value="CO">
            Colombia 
                </option>
            <option value="KM">
            Comoros (جزر القمر‎) 
                </option>
            <option value="CG">
            Congo (Congo-Brazzaville) 
                </option>
            <option value="CD">
            Congo,the Democratic Republic of the (Jamhuri ya Kidemokrasia ya Kongo) 
                </option>
            <option value="CK">
            Cook Islands 
                </option>
            <option value="CR">
            Costa Rica 
                </option>
            <option value="CI">
            Cote d'Ivoire 
                </option>
            <option value="HR">
            Croatia (Hrvatska) 
                </option>
            <option value="CU">
            Cuba 
                </option>
            <option value="CW">
            Curacao 
                </option>
            <option value="CY">
            Cyprus (Κύπρος) 
                </option>
            <option value="CZ">
            Czech Republic (Česká republika) 
                </option>
            <option value="DK">
            Denmark (Danmark) 
                </option>
            <option value="DJ">
            Djibouti 
                </option>
            <option value="DM">
            Dominica 
                </option>
            <option value="DO">
            Dominican Republic (República Dominicana) 
                </option>
            <option value="EC">
            Ecuador 
                </option>
            <option value="EG">
            Egypt (مصر‎) 
                </option>
            <option value="SV">
            El Salvador 
                </option>
            <option value="GQ">
            Equatorial Guinea (Guinea Ecuatorial) 
                </option>
            <option value="ER">
            Eritrea 
                </option>
            <option value="EE">
            Estonia (Eesti) 
                </option>
            <option value="ET">
            Ethiopia 
                </option>
            <option value="FK">
            Falkland Islands (Islas Malvinas) 
                </option>
            <option value="FO">
            Faroe Islands (Føroyar) 
                </option>
            <option value="FJ">
            Fiji 
                </option>
            <option value="FI">
            Finland (Suomi) 
                </option>
            <option value="FR">
            France 
                </option>
            <option value="GF">
            French Guiana (Guyane française) 
                </option>
            <option value="PF">
            French Polynesia (Polynésie française) 
                </option>
            <option value="TF">
            French Southern Territories (Terres australes françaises) 
                </option>
            <option value="GA">
            Gabon 
                </option>
            <option value="GM">
            Gambia 
                </option>
            <option value="GE">
            Georgia (საქართველო) 
                </option>
            <option value="DE">
            Germany (Deutschland) 
                </option>
            <option value="GH">
            Ghana (Gaana) 
                </option>
            <option value="GI">
            Gibraltar 
                </option>
            <option value="GR">
            Greece (Ελλάδα) 
                </option>
            <option value="GL">
            Greenland (Kalaallit Nunaat) 
                </option>
            <option value="GD">
            Grenada 
                </option>
            <option value="GP">
            Guadeloupe 
                </option>
            <option value="GU">
            Guam 
                </option>
            <option value="GT">
            Guatemala 
                </option>
            <option value="GG">
            Guernsey 
                </option>
            <option value="GN">
            Guinea (Guinée) 
                </option>
            <option value="GW">
            Guinea-Bissau (Guiné Bissau) 
                </option>
            <option value="GY">
            Guyana 
                </option>
            <option value="HT">
            Haiti 
                </option>
            <option value="HM">
            Heard Island and McDonald Islands 
                </option>
            <option value="VA">
            Holy See (Vatican City State) (Città del Vaticano) 
                </option>
            <option value="HN">
            Honduras 
                </option>
            <option value="HK">
            Hong Kong (香港) 
                </option>
            <option value="HU">
            Hungary (Magyarország) 
                </option>
            <option value="IS">
            Iceland (Ísland) 
                </option>
            <option value="IN">
            India (भारत) 
                </option>
            <option value="ID">
            Indonesia 
                </option>
            <option value="IR">
            Iran,Islamic Republic of (ایران‎) 
                </option>
            <option value="IQ">
            Iraq (العراق‎) 
                </option>
            <option value="IE">
            Ireland 
                </option>
            <option value="IM">
            Isle of Man 
                </option>
            <option value="IL">
            Israel (ישראל‎) 
                </option>
            <option value="IT">
            Italy (Italia) 
                </option>
            <option value="JM">
            Jamaica 
                </option>
            <option value="JP">
            Japan (日本) 
                </option>
            <option value="JE">
            Jersey 
                </option>
            <option value="JO">
            Jordan (الأردن‎) 
                </option>
            <option value="KZ">
            Kazakhstan (Казахстан) 
                </option>
            <option value="KE">
            Kenya 
                </option>
            <option value="KI">
            Kiribati 
                </option>
            <option value="KP">
            Korea,Democratic People's Republic of (조선 민주주의 인민 공화국) 
                </option>
            <option value="KR">
            Korea,Republic of (대한민국) 
                </option>
            <option value="KW">
            Kuwait (الكويت‎) 
                </option>
            <option value="KG">
            Kyrgyzstan 
                </option>
            <option value="LA">
            Lao People's Democratic Republic (ສ.ປ.ປ ລາວ) 
                </option>
            <option value="LV">
            Latvia (Latvija) 
                </option>
            <option value="LB">
            Lebanon (لبنان‎) 
                </option>
            <option value="LS">
            Lesotho 
                </option>
            <option value="LR">
            Liberia 
                </option>
            <option value="LY">
            Libya (ليبيا‎) 
                </option>
            <option value="LI">
            Liechtenstein 
                </option>
            <option value="LT">
            Lithuania (Lietuva) 
                </option>
            <option value="LU">
            Luxembourg 
                </option>
            <option value="MO">
            Macao (澳門) 
                </option>
            <option value="MK">
            Macedonia,the former Yugoslav Republic of (Македонија) 
                </option>
            <option value="MG">
            Madagascar (Madagasikara) 
                </option>
            <option value="MW">
            Malawi 
                </option>
            <option value="MY">
            Malaysia 
                </option>
            <option value="MV" selected="selected">
            Maldives 
                </option>
            <option value="ML">
            Mali 
                </option>
            <option value="MT">
            Malta 
                </option>
            <option value="MH">
            Marshall Islands 
                </option>
            <option value="MQ">
            Martinique 
                </option>
            <option value="MR">
            Mauritania (موريتانيا‎) 
                </option>
            <option value="MU">
            Mauritius (Moris) 
                </option>
            <option value="YT">
            Mayotte 
                </option>
            <option value="MX">
            Mexico (México) 
                </option>
            <option value="FM">
            Micronesia,Federated States of 
                </option>
            <option value="MD">
            Moldova,Republic of (Republica Moldova) 
                </option>
            <option value="MC">
            Monaco 
                </option>
            <option value="MN">
            Mongolia (Монгол) 
                </option>
            <option value="ME">
            Montenegro (Crna Gora) 
                </option>
            <option value="MS">
            Montserrat 
                </option>
            <option value="MA">
            Morocco (المغرب‎) 
                </option>
            <option value="MZ">
            Mozambique (Moçambique) 
                </option>
            <option value="MM">
            Myanmar (မြန်မာ) 
                </option>
            <option value="NA">
            Namibia 
                </option>
            <option value="NR">
            Nauru 
                </option>
            <option value="NP">
            Nepal (नेपाल) 
                </option>
            <option value="NL">
            Netherlands (Nederland) 
                </option>
            <option value="NC">
            New Caledonia (Nouvelle-Calédonie) 
                </option>
            <option value="NZ">
            New Zealand 
                </option>
            <option value="NI">
            Nicaragua 
                </option>
            <option value="NE">
            Niger (Nijar) 
                </option>
            <option value="NG">
            Nigeria 
                </option>
            <option value="NU">
            Niue 
                </option>
            <option value="NF">
            Norfolk Island 
                </option>
            <option value="MP">
            Northern Mariana Islands 
                </option>
            <option value="NO">
            Norway (Norge) 
                </option>
            <option value="OM">
            Oman (عُمان‎) 
                </option>
            <option value="PK">
            Pakistan (پاکستان‎) 
                </option>
            <option value="PW">
            Palau 
                </option>
            <option value="PS">
            Palestine,State of (فلسطين‎) 
                </option>
            <option value="PA">
            Panama (Panamá) 
                </option>
            <option value="PG">
            Papua New Guinea 
                </option>
            <option value="PY">
            Paraguay 
                </option>
            <option value="PE">
            Peru 
                </option>
            <option value="PH">
            Philippines 
                </option>
            <option value="PN">
            Pitcairn 
                </option>
            <option value="PL">
            Poland (Polska) 
                </option>
            <option value="PT">
            Portugal 
                </option>
            <option value="PR">
            Puerto Rico 
                </option>
            <option value="QA">
            Qatar (قطر‎) 
                </option>
            <option value="RE">
            Reunion 
                </option>
            <option value="RO">
            Romania (România) 
                </option>
            <option value="RU">
            Russian Federation (Россия) 
                </option>
            <option value="RW">
            Rwanda 
                </option>
            <option value="BL">
            Saint Barth\u00e9lemy (Saint-Barthélémy) 
                </option>
            <option value="SH">
            Saint Helena,Ascension and Tristan da Cunha 
                </option>
            <option value="KN">
            Saint Kitts and Nevis 
                </option>
            <option value="LC">
            Saint Lucia 
                </option>
            <option value="MF">
            Saint Martin [French part] (Saint-Martin [partie française]) 
                </option>
            <option value="PM">
            Saint Pierre and Miquelon (Saint-Pierre-et-Miquelon) 
                </option>
            <option value="VC">
            Saint Vincent and the Grenadines 
                </option>
            <option value="WS">
            Samoa 
                </option>
            <option value="SM">
            San Marino 
                </option>
            <option value="ST">
            Sao Tome and Principe (São Tomé e Príncipe) 
                </option>
            <option value="SA">
            Saudi Arabia (المملكة العربية السعودية‎) 
                </option>
            <option value="SN">
            Senegal (Sénégal) 
                </option>
            <option value="RS">
            Serbia (Србија) 
                </option>
            <option value="SC">
            Seychelles 
                </option>
            <option value="SL">
            Sierra Leone 
                </option>
            <option value="SG">
            Singapore 
                </option>
            <option value="SX">
            Sint Maarten (Dutch part) 
                </option>
            <option value="SK">
            Slovakia (Slovensko) 
                </option>
            <option value="SI">
            Slovenia (Slovenija) 
                </option>
            <option value="SB">
            Solomon Islands 
                </option>
            <option value="SO">
            Somalia (Soomaaliya) 
                </option>
            <option value="ZA">
            South Africa 
                </option>
            <option value="GS">
            South Georgia and the South Sandwich Islands 
                </option>
            <option value="SS">
            South Sudan (جنوب السودان‎) 
                </option>
            <option value="ES">
            Spain 
                </option>
            <option value="LK">
            Sri Lanka (ශ්‍රී ලංකාව)) 
                </option>
            <option value="SD">
            Sudan (السودان‎) 
                </option>
            <option value="SR">
            Suriname 
                </option>
            <option value="SJ">
            Svalbard and Jan Mayen (Svalbard og Jan Mayen) 
                </option>
            <option value="SZ">
            Swaziland 
                </option>
            <option value="SE">
            Sweden (Sverige) 
                </option>
            <option value="CH">
            Switzerland (Schweiz) 
                </option>
            <option value="SY">
            Syrian Arab Republic (سوريا‎) 
                </option>
            <option value="TW">
            Taiwan (台灣) 
                </option>
            <option value="TJ">
            Tajikistan 
                </option>
            <option value="TZ">
            Tanzania,United Republic of 
                </option>
            <option value="TH">
            Thailand (ไทย) 
                </option>
            <option value="TL">
            Timor-Leste 
                </option>
            <option value="TG">
            Togo 
                </option>
            <option value="TK">
            Tokelau 
                </option>
            <option value="TO">
            Tonga 
                </option>
            <option value="TT">
            Trinidad and Tobago 
                </option>
            <option value="TN">
            Tunisia (تونس‎) 
                </option>
            <option value="TR">
            Turkey (Türkiye) 
                </option>
            <option value="TM">
            Turkmenistan 
                </option>
            <option value="TC">
            Turks and Caicos Islands 
                </option>
            <option value="TV">
            Tuvalu 
                </option>
            <option value="UG">
            Uganda 
                </option>
            <option value="UA">
            Ukraine (Україна) 
                </option>
            <option value="AE">
            United Arab Emirates (الإمارات العربية المتحدة‎) 
                </option>
            <option value="GB">
            United Kingdom 
                </option>
            <option value="US">
            United States 
                </option>
            <option value="UM">
            United States Minor Outlying Islands 
                </option>
            <option value="UY">
            Uruguay 
                </option>
            <option value="UZ">
            Uzbekistan (Ўзбекистон) 
                </option>
            <option value="VU">
            Vanuatu 
                </option>
            <option value="VE">
            Venezuela,Bolivarian Republic of 
                </option>
            <option value="VN">
            Vietnam (Việt Nam) 
                </option>
            <option value="VG">
            Virgin Islands,British 
                </option>
            <option value="VI">
            Virgin Islands,U.S. 
                </option>
            <option value="WF">
            Wallis and Futuna 
                </option>
            <option value="EH">
            Western Sahara (الصحراء الغربية‎) 
                </option>
            <option value="YE">
            Yemen (اليمن‎) 
                </option>
            <option value="ZM">
            Zambia 
                </option>
            <option value="ZW">
            Zimbabwe 
                </option>
        </select>
        <div class="ui checkbox">
          <input type="checkbox" name="fb-access" id="fb-access">
          <label for="fb-access">Add Pinterest to Facebook Timeline</label>
        </div>
        
        <div class="ui checkbox">
          <input type="checkbox" name="sites-access" id="sites-access">
          <label for="sites-access">Let Pinterest personalize your experience based on other sites you visit · Learn more</label>
        </div> 
        <p>By creating an account, I accept Pinterest's Terms of Service and Privacy Policy.</p>
    </div>
</div>