<section id="user-container" class="container">
    
    <aside id="side-nav-profile" class="col-md-3">
        
        <div class="ui vertical menu" id="user-profile-menu">
            <div class="item">
                <img class="circular ui image" src="http://semantic-ui.com/images/demo/photo2.jpg">
                </div>
            <div class="item" id="user-info">
                <h3>Hilarl Agil</h3>
                <p>Works as a Travel Agent</p>
                <p>Lives in Male', Maldives</p>
            </div>
            <div class="user-info ui left attached button col-md-6">Trail</div>
            <div class="user-info right attached ui button col-md-6">Message</div>
            </div>
        
        <div class="ui vertical menu">
            
          <div class="item">
            <h5>Communication</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
              </div>
            </div>
            <h5>Service</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-danger " role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
              </div>
            </div>
            <h5>Reliability</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-warning " role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
              </div>
            </div>
          </div>
        </div>

    </aside>
    
    <section ui-view></section>    
    <br class="clear">
    
</section>