    <div id="transaction-block" class="ui segment">
        
        <h3>Transactions</h3>
        
        <div class="ui divided list" id="transaction-list">
            <div class="row item">
                <div class="content col-md-7 ">
                    <img class="ui avatar image pull-left" src="http://semantic-ui.com/images/demo/photo2.jpg">
                    <div class="header">Snickerdoodle</div>
                        An excellent companion
                </div>
                <div class="col-md-5">
                    <a href="#" class="ui button mini">Accept</a>
                    <a href="#" class="ui button mini">Review</a>
                    <a href="#" class="ui button mini">Invoice</a>  
                    <a href="#" class="ui button mini">Dispute</a>
                </div>
            </div>
            <div class="row item">
                <div class="content col-md-7 ">
                    <img class="ui avatar image pull-left" src="http://semantic-ui.com/images/demo/photo2.jpg">
                    <div class="header">Snickerdoodle</div>
                        An excellent companion
                </div>
                <div class="col-md-5">
                    <a href="#" class="ui button mini">Accept</a>
                    <a href="#" class="ui button mini">Review</a>
                    <a href="#" class="ui button mini">Invoice</a>  
                    <a href="#" class="ui button mini">Dispute</a>
                </div>
            </div>
            <div class="row item">
                <div class="content col-md-7 ">
                    <img class="ui avatar image pull-left" src="http://semantic-ui.com/images/demo/photo2.jpg">
                    <div class="header">Snickerdoodle</div>
                        An excellent companion
                </div>
                <div class="col-md-5">
                    <a href="#" class="ui button mini">Accept</a>
                    <a href="#" class="ui button mini">Review</a>
                    <a href="#" class="ui button mini">Invoice</a>  
                    <a href="#" class="ui button mini">Dispute</a>
                </div>
            </div>
    </div>
    </div>