    <div id="follow-block" class="ui segment">
        
        <h3>Products</h3>
        
        <ul class="list-unstyled product-list row">
            <li class="col-md-4">
                <div class="ui left green corner label">
                    <div class="text">New</div>
                </div>
                <img class="img-responsive" src="http://i.ebayimg.com/00/s/Njk5WDY2Ng==/z/~kYAAOxy4dNS89KK/$_12.JPG">
                    <ul class="list-unstyled product-gallery">
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mAUjsQ5pxu6tBGq9WhR7BcA/140.jpg">
                        </li>
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mDZGRqso5dun2oBm2LDRrXA/140.jpg">
                        </li>
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mTKZ_icXIqNNL-AQLkrUcyQ/140.jpg">
                        </li>
                    </ul>
                <div class="product-detail">
                    <a href="#">Leather Jacket</a>
                    <p>Just a guy climbing a 1,500-foot rock wall with no ropes or harnesses. Just a guy climbing a 1,500-foot rock wall with no ropes or harnesses</p>
                </div>
                <div class="mini ui button col-md-6">
                  Want
                </div>
                <div class="mini ui button col-md-6">
                  Trail
                </div>
                <br class="clear">
            </li>
            <li class="col-md-4">
                <div class="ui left green corner label">
                    <div class="text">New</div>
                </div>
                <img class="img-responsive" src="http://i.ebayimg.com/00/s/Njk5WDY2Ng==/z/~kYAAOxy4dNS89KK/$_12.JPG">
                    <ul class="list-unstyled product-gallery">
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mAUjsQ5pxu6tBGq9WhR7BcA/140.jpg">
                        </li>
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mDZGRqso5dun2oBm2LDRrXA/140.jpg">
                        </li>
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mTKZ_icXIqNNL-AQLkrUcyQ/140.jpg">
                        </li>
                    </ul>
                <div class="product-detail">
                    <a href="#">Leather Jacket</a>
                    <p>Just a guy climbing a 1,500-foot rock wall with no ropes or harnesses. Just a guy climbing a 1,500-foot rock wall with no ropes or harnesses</p>
                </div>
                <div class="mini ui button col-md-6">
                  Want
                </div>
                <div class="mini ui button col-md-6">
                  Trail
                </div>
                <br class="clear">
            </li>
            <li class="col-md-4">
                <div class="ui left corner red label">
                    <div class="text">Expiring</div>
                </div>
                <img class="img-responsive" src="http://i.ebayimg.com/00/s/Njk5WDY2Ng==/z/~kYAAOxy4dNS89KK/$_12.JPG">
                    <ul class="list-unstyled product-gallery">
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mAUjsQ5pxu6tBGq9WhR7BcA/140.jpg">
                        </li>
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mDZGRqso5dun2oBm2LDRrXA/140.jpg">
                        </li>
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mTKZ_icXIqNNL-AQLkrUcyQ/140.jpg">
                        </li>
                    </ul>
                <div class="product-detail">
                    <a href="#">Leather Jacket</a>
                    <p>Just a guy climbing a 1,500-foot rock wall with no ropes or harnesses. Just a guy climbing a 1,500-foot rock wall with no ropes or harnesses</p>
                </div>
                <div class="mini ui button col-md-6">
                  Want
                </div>
                <div class="mini ui button col-md-6">
                  Trail
                </div>
                <br class="clear">
            </li>
            <li class="col-md-4">
                <img class="img-responsive" src="http://i.ebayimg.com/00/s/Njk5WDY2Ng==/z/~kYAAOxy4dNS89KK/$_12.JPG">
                    <ul class="list-unstyled product-gallery">
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mAUjsQ5pxu6tBGq9WhR7BcA/140.jpg">
                        </li>
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mDZGRqso5dun2oBm2LDRrXA/140.jpg">
                        </li>
                        <li class="col-md-4">
                            <img class="img-responsive" src="http://thumbs.ebaystatic.com/m/mTKZ_icXIqNNL-AQLkrUcyQ/140.jpg">
                        </li>
                    </ul>
                <div class="product-detail">
                    <a href="#">Leather Jacket</a>
                    <p>Just a guy climbing a 1,500-foot rock wall with no ropes or harnesses. Just a guy climbing a 1,500-foot rock wall with no ropes or harnesses</p>
                </div>
                <div class="mini ui button col-md-6">
                  Want
                </div>
                <div class="mini ui button col-md-6">
                  Trail
                </div>
                <br class="clear">
            </li>
        </ul>
    </div>