<div class="">
    <div class="col-md-6 ui segment">
        <h3>About</h3>
        <p> The country's football governing body is bringing in the random checks after it was revealed that several leading players - including four in the national women's team - were either men who had not completed sex change operations, or were suffering from sexual development disorders.
        </p>
    </div>
    
    <div class="col-md-6 ui segment margin-zero">
        <h3>Contact Information</h3>
        <ul class="list-unstyled" id="contact-list">
            <li>
                <h4> Location</h4>
                <i class="map marker icon"></i> Male', Maldives
            </li>
            <li>
                <h4> Mobile Phones	</h4>
                <i class="mobile icon"></i> +960-777-6298	
            </li>
            <li>
                <h4> Skype</h4>
                <i class="skype icon"></i> <a href="#">hilaarl</a>
            </li>
            <li>
                <h4> Facebook</h4>
                <i class="facebook icon"></i> <a href="#">hilarl</a>
            </li>
            <li>
                <h4> Twitter</h4>
                 <i class="twitter icon"></i> <a href="#">@hilaarl</a>
            </li>
            <li>
                <h4> Email</h4>
                <i class="mail icon"></i> <a href="#">hilarl@aol.com</a>
            </li>
            <li>
                <h4> Website</h4>	
                <i class="globe icon"></i> <a href="#">http://hilarl.com</a> <br>
                <i class="globe icon"></i> <a href="#">http://nothnegal.net</a>
            </li>
        </ul>
        
    </div>
</div>