<section id="profile" class="col-md-9">
    
    <div class="ui pointing menu">
        <a class="item" href="#!/user/activity"> <i class="left arrow icon"></i></a>
        <a class="item" href="#!/user/products/"> <i class="inbox icon"></i> Active</a>
        <a class="item" href="#!/user/products/sold">  <i class="forward mail icon"></i> Sold</a>
        <a class="item" href="#!/user/products/expired">  <i class="trash icon"></i> Expired</a>
        
        <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
    </div>
    
    <div ui-view class="ui celled list">
    </div>
</section>