<div class="ui feed pm-block" id="message-detail-inner">
  <div id="message-content">
        <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/demo/avatar.jpg">
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
         <a class="pm-author">Sally Poodle</a> 
            <p>Here are some photos of the hotel you requested. Here are some photos of the hotel you requested</p>
      </div>
      <div class="extra images">
        <img src="http://semantic-ui.com/images/demo/item1.jpg">
        <img src="http://semantic-ui.com/images/demo/item1.jpg">
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/demo/avatar.jpg">
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
         <a class="pm-author">Sally Poodle</a>
        <p>created a post</p>
      </div>
    </div>
  </div>
      
    <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/demo/avatar.jpg">
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
         <a class="pm-author">Sally Poodle</a>
        <p>created a post</p>
      </div>
    </div>
  </div>
      
      <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/demo/avatar.jpg">
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
         <a class="pm-author">Sally Poodle</a>
        <p>created a post</p>
      </div>
    </div>
  </div>
      
      <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/demo/avatar.jpg">
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
         <a class="pm-author">Sally Poodle</a>
        <p>created a post</p>
      </div>
    </div>
  </div>
      
      <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/demo/avatar.jpg">
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
         <a class="pm-author">Sally Poodle</a>
        <p>created a post</p>
      </div>
    </div>
  </div>
      
      <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/demo/avatar.jpg">
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
         <a class="pm-author">Sally Poodle</a>
        <p>created a post</p>
      </div>
    </div>
  </div>
</div>

    <div id="message-footer" class="col-md-12">
        <textarea class="col-md-12" rows="2" id="message-input"></textarea>
        <a href="#"><i class="attachment icon"></i>Add Files</a>
                                    <a href="#"><i class="map marker icon"></i>Location</a>
                                        
                                    <div class="pull-right">
                                        <div class="ui button blue mini">Reply</div>
                                    </div>
    </div>
</div>